.feature_subtitle{
    color: cornflowerblue;
}

.feature_title span{
    color:cornflowerblue;
}

.feature_text{
    color: brown;
}

.feature_item p{
    color: black;
}

.food_category{
    background: rgb(118, 116, 57);
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 8px;
}

.food_category button{
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: white;
}

.food_category img{
    width: 20px;
    height: 20px;
}

.foodBtnActive{
    background: white !important;
    border-radius: 5px;
    color: green !important;
}

.tasty_treat-title span{
    color: cornflowerblue;
}

.tasty_treat-des{
    color: rgb(151, 135, 135);
    line-height: 25px;
}

.choose_us-title{
    font-weight: 1000;
}

.testimonial_subtitle{
    color: cornflowerblue;
}

.testimonial_title span{
    color: cornflowerblue;
}