.review_text{
    color: darkgray;
    line-height: 25px;
    margin: 40px 0px;
}

.slider_content img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .review_text{
        font-size: 0.9rem;
        margin: 20px 0;
    }

    .review_text h6{
        font-size: 0.8rem;
    }

    .slider_content h6{
        font-size: 0.8rem;
    }

    .slider_content img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
}